<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegridMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RegridMapper.Properties.Settings>
            <setting name="AuctionUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="AppraiserUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="AuctionCounty" serializeAs="String">
                <value />
            </setting>
        </RegridMapper.Properties.Settings>
    </userSettings>
</configuration>